* {
    margin: 0;       /* გარე დაშორებების ნულირება */
    padding: 0;      /* შიდა დაშორებების ნულირება */
    box-sizing: border-box; /* რომ padding-მა ელემენტის ზომა არ გაზარდოს */
    font-family: 'Arial', sans-serif; /* ტექსტის ფონტი */
}

body{
    background-color:#f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus{
    border-color: #021af1;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #5c67f2; /* ძირითადი ფერი */
    color: white;              /* ტექსტის ფერი */
    border: none;
    border-radius: 5px;
    cursor: pointer;           /* მაუსის მიტანისას ხელი გამოჩნდეს */
    font-size: 18px;
    transition: 0.3s;          /* ანიმაციის სიჩქარე */
}

button:hover {
    background-color: #4a54e1; /* ფერი ოდნავ გამუქდეს */
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.reset-btn{
    background-color: #6c757d;
    margin-top: 10px;
}

.reset-btn:hover {
    background-color: #5a6268;
}